
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
.container{
    min-height: 100vh;
    border: 10px solid #1d1e4c;
    background-color: #e5e5fd;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}

.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.imgcontainer,img{
    border-radius: 50%;
    overflow: hidden;
}

.imgcontainer img{
    width: 300px;
    height: 320px;
}

.title h1{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}

.title h4{
    font-size: 25px;
    text-align: end;
    font-weight: 900;
}

.about_section{
    margin-top: 70px;
}

.about_section h1{
    font-size: 65px;
    letter-spacing: 1.5px;
}

.about_section p{
    margin-top: 15px;
    text-align: justify;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.biography h2{
    margin-top: 45px;
    font-size: 29px;
}

.biography ul{
    margin-top: 20px;
    margin-left: 30px;
}

.biography ul li{
    letter-spacing: 1.5px;
    line-height: 25px;
}