*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    min-height: 100vh;
    background-color: #e5e5fd;
    border: 20px solid black;
}
.head_container{
    display: flex;
    margin: 10vh;
}
.head_container img{
    border-radius: 45%;    
}