*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    border: 10px solid #1d1e4c;
    background-color: #e5e5fd;
}
.content{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
    /* background-color: blanchedalmond; */
}